---
import Avatar from "../components/Avatar.astro";
import Layout from "../layouts/layout.astro";
import CV from "../../public/images/icons/readdotcv.svg";
import PDF from "/resume.pdf";
import Git from "../../public/images/icons/github.svg";
import Mail from "../../public/images/icons/gmail.svg";
---

<Layout
  title={"Jed Borseth | Resume"}
  canonicalURL={`https://jedborseth.com/resume`}
>
  <div class="flex flex-col gap-10 items-center">
    <div class="scale-50 group transition-all">
      <a href="/">
        <Avatar img="https://avatars.githubusercontent.com/u/95988576?v=4" />
        <p
          class="group-hover:grid hidden h-56 w-56 rounded-full place-items-center text-6xl text-center"
        >
          Go Back
        </p>
      </a>
    </div>
    <a
      href="https://github.com/JedBorseth"
      class="md:self-start md:ml-10 hover:scale-105 flex items-end gap-5"
    >
      <img src={Git.src} alt="Github" class="w-10" />
      <p>Github</p>
    </a>
    <a
      href="mailto:jedborseth@gmail.com"
      class="md:self-start md:ml-10 hover:scale-105 flex items-end gap-5"
    >
      <img src={Mail.src} alt="Mail" class="w-10" />
      <p>Email</p>
    </a>
    <img
      class="h-20 w-20 scale-0"
      src={CV.src}
      alt={`Icon`}
      transition:name="resume-icon"
    />

    <a
      href="/resume.pdf"
      class="h-12 md:hidden border-black border-2 p-2.5 bg-[#A6FAFF] hover:bg-[#79F7FF] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] active:bg-[#00E1EF] rounded-full"
    >
      Download Resume
    </a>
  </div>
  <iframe src={PDF} class="w-max h-screen flex-1 max-md:hidden"></iframe>
</Layout>
