---
import { cn } from "../lib/utils";

const img = Astro.props.img;
const className = Astro.props.className;
---

<div
  transition:name="avatar"
  style={{
    backgroundImage: `url(${img})`,
  }}
  class={cn(
    "h-56 w-56 rounded-full border-2 border-black bg-cover bg-center group-hover:hidden",
    className
  )}
  ,
>
</div>
