---
import Avatar from "../../components/Avatar.astro";
import Link from "../../components/Link.astro";
import MovieDB from "../../components/MovieDB.astro";
import Layout from "../../layouts/layout.astro";
import Uno from "../../components/Uno.astro";
export function getStaticPaths() {
  return [
    { params: { project: "uno" } },
    { params: { project: "movie-db" } },
    { params: { project: "threejs" } },
    { params: { project: "rl-packaging" } },
  ];
}

const { project } = Astro.params;
---

<Layout
  title={"Jed Borseth | " + project.charAt(0).toUpperCase() + project.slice(1)}
  canonicalURL={`https://jedborseth.com/projects/${project}`}
>
  <div class="">
    {project === "movie-db" && <MovieDB />}
    {project === "uno" && <Uno />}
    <div
      transition:name={project}
      class="absolute top-0 left-0 opacity-0 bg-main h-screen w-screen -z-50"
    >
    </div>
  </div>
</Layout>
